# Ignore data PDFs
app/data/

# Ignore FAISS index and Pickle files
app/embeddings/index.faiss
app/embeddings/index.pkl

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore virtual environments
venv/
*.venv/
.env/
.envrc/

# Ignore Jupyter/IPython checkpoints (if using notebooks later)
.ipynb_checkpoints/

# Ignore macOS / Windows metadata files
.DS_Store
Thumbs.db
